<!doctype html>

<head>
    <title>Youtube-Converter [ 500 ]</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet"> 
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
</head>

<body>
    <div class="center">
        <h1 class="title">500 - SERVER ERROR</h1>
        <br>
        <input type="submit" value="Go back" onclick="window.location='/';" />  
    </div>
</body>

</html>