<!doctype html>


<head>
    <title>Youtube-Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet"> 
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
</head>

<body>
    <div class="center">
        <span class="title"><b id=you>You</b>tube converter</span>
        <form action="/convert" autocomplete="off" method="POST">
            <input type="url" placeholder="Enter Youtube video URL.." name="url">
            <input type="submit" value="Convert" />
        </form>
    </div>
</body>

</html>